.test {
  background: #cccccc;
  width: 700px;
}

.test1{
  font-size: 24px !important;
}

.test2{
  font-size: 16px !important;
}

.myOverride .ui-inputtext{
  font-size: 18px;
}

.myOverride1 .ui-listbox-list-wrapper{
  overflow: scroll;
  height: 50px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}

