.main_grid {
  display: grid;
  grid-template-areas: 'itm-1 itm-2';
  grid-template-columns: 75% auto;

  grid-gap: 5px;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}

.main_grid_item:nth-of-type(1) {
  grid-area: itm-1;
}

.main_grid_item:nth-of-type(2) {
  grid-area: itm-2;
}

@media (max-width: 800px) {
  .main_grid{
    grid-template-areas: 'itm-2' 'itm-1';
    grid-template-columns: auto;

  }
}

.link {
  color: #fff;
  text-decoration: none;
}

.main_img{
  display: block;
  background: chocolate;
  padding: 3px;
}

.main_item{
  display: grid;
  grid-template-columns: 140px 1fr 20%;
  border-bottom: 1px solid #d7b946;
  padding: 1px;
}
.main_text{
  padding: 5px;
}

.my-btn{
  h2{
    font-size: 50px;
  }
}

.my_table{
  .ant-table{
    font-size: 20px;
    color: red;
  }
}

.td_img{
  width: 100px;
  height: 100px;
  background: #d7b946;
  padding: 2px;
  .ant-table-tbody >tr>td{
    padding: 2px;
  }
}
.td_text{
  font-size: 18px;
  padding: 2px;
}

.operate {
  margin-bottom: 16px;
}

.operate span {
  margin-left: 8px;
}
