[nz-menu] {
  width: 200px;
  //background: #d7b946;
  //background: #14264D;
  //background: #cccccc;
  background: #FFFFED;
  //opacity: 0.0;
  margin-left: 0px;
  padding: 0px;
}

li.ant-menu-item{
  width: 250px;
  font-size: 18px;
  text-decoration: none;
  color: #333333;

}

//[nz-submenu] > {
//  font-size: 25px;
//}
//
//span.ng-tns-c6-0.ng-star-inserted{
//  font-size: 25px;
//}


[nz-menu-item]{
  width: 250px;
  //width: fit-content;
}

//
//[nz-menu-item]{
//  font-size: 20px;
//}
//[nz-submenu]{
//  font-size: 20px !important;
//}
//[nzTitle]{
//  font-size: 20px !important;
//}
//
//[ng-reflect-nz-title]{
//  font-size: 20px !important;
//
//  span{
//    font-size: 20px !important;
//  }
//
//  .ant-menu-submenu-title{
//    font-size: 20px !important;
//    span{
//      font-size: 20px !important;
//    }
//  }
//}
//
//.ant-menu-my > div.ng-tns-c6-0 > span{
//  color: red;
//  //color: #14264D;
//  font-size: 22px;
//}
//
//.ant-menu-my > div.ant-menu-submenu-title > span{
//  color: red;
//  //color: #14264D;
//  font-size: 22px;
//}
//
//
//.ant-menu-my > span{
//  color: red;
//  //color: #14264D;
//  font-size: 22px;
//}
//
//#div.ant-menu-my > div > div > span{
//  color: red;
//  //color: #14264D;
//  font-size: 22px;
//}
//
//.ant-menu-my {
//
//  .ng-reflect-nz-title{
//    font-size: 20px !important;
//  }
//
//  .ant-menu{
//    //background: #d7b946;
//  }
//  .ant-menu-vertical{
//    font-size: 20px !important;
//  }
//
//  .ant-menu-submenu-title{
//    font-size: 20px !important;
//    span{
//      font-size: 20px !important;
//    }
//  }
//
//  .ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title,
//  .ant-menu-vertical .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title,
//  .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-left .ant-menu-submenu-title,
//  .ant-menu-vertical-right .ant-menu-item, .ant-menu-vertical-right .ant-menu-submenu-title{
//    font-size: 20px !important;
//    span{
//      font-size: 20px !important;
//    }
//  }
//}

.menu_img{
  display: block;
  width: 100px;
  height: 100px;
}

.left_panel{
  height: 100%;
  //background: #133f83;
  //background: #14266a;
  background: #FFFFED;
}


